<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script>
$(window).resize(function (){
  $('#frame').css('width',$('#middle').width());
  $('#frame').css('height',$(document).height()-140);
});
$(window).ready( function() {
  $('#frame').css('width',$('#middle').width());
  $('#frame').css('height',$(document).height()-140);
});
</script>
</head>
<body>
<div>Problem</div>
<iframe id="frame" src="coding/solveEdit" width="100%" frameborder="0"  scrolling = "no"></iframe>
<div>Result</div>
</body>
</html>
