<html lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/T-HUB.png' %}"/>
	<title>::Source Editor::</title>
	<style>
		textarea.autosize { min-height: 50px; }
		#submit{
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
			font-size: 1em;
			color:#000000;
			padding:5px 15px;
			background:#787878;
			border:0 none;
			cursor:pointer;
			margin-top: 5px;
		}
		#result_box{
	    margin: 10px;
	    padding: 10px;
	    overflow: auto;
	  }
	</style>
	<script language="Javascript" type="text/javascript" src="{% static 'package/edit_area/edit_area_full.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
	<script language="Javascript" type="text/javascript">
		function resize(obj) {
		  obj.style.height = "1px";
		  obj.style.height = (12+obj.scrollHeight)+"px";
		}

		editAreaLoader.init({
			id: "sourceEditorArea"	// id of the textarea to transform
			,start_highlight: true	// if start with highlight
			,allow_resize: "both"
			,allow_toggle: true
			,word_wrap: true
			,language: "en"
			,syntax: "c"
			,toolbar: "search, go_to_line, |, undo, redo, |, select_font, |, syntax_selection, |, change_smooth_selection, highlight, reset_highlight, |, help"
			,syntax_selection_allow: "css,html,java,js,php,python,vb,xml,c,cpp,sql,basic"
		});

		// callback functions
		function my_save(id, content){
			alert("Here is the content of the EditArea '"+ id +"' as received by the save callback function:\n"+content);
		}

		function my_load(id){
			editAreaLoader.setValue(id, "The content is loaded from the load_callback function into EditArea");
		}

		function test_setSelectionRange(id){
			editAreaLoader.setSelectionRange(id, 100, 150);
		}

		function test_getSelectionRange(id){
			var sel =editAreaLoader.getSelectionRange(id);
			alert("start: "+sel["start"]+"\nend: "+sel["end"]);
		}

		function test_setSelectedText(id){
			text= "[REPLACED SELECTION]";
			editAreaLoader.setSelectedText(id, text);
		}

		function test_getSelectedText(id){
			alert(editAreaLoader.getSelectedText(id));
		}

		function toogle_editable(id)
		{
			editAreaLoader.execCommand(id, 'set_editable', !editAreaLoader.execCommand(id, 'is_editable'));
		}

		function editAreaLoaded(id){
			open_file1();
		}

		function open_file1()
		{
			var new_file= {id: "test", text: "{% autoescape off %}{% filter escapejs %}{{ code }}{% endfilter %}{% endautoescape %}", syntax: 'c'};
			editAreaLoader.openFile('sourceEditorArea', new_file);
		}

		function close_file1()
		{
			editAreaLoader.closeFile('sourceEditorArea', "test");
		}

		 function check_syntax(){
			var syntax;
			if(sessionStorage.getItem('syntax'))
				syntax = sessionStorage.getItem('syntax');
			else
				syntax = 'c';
                        $('#syntax').html('<input id="syntax" type="hidden" name="syntax" value="'+syntax+'"/>');
			sessionStorage.clear();
                 }

	</script>
</head>
<!--_______________ END OF HEAD _______________-->

<body>
		<form action="/coding/solveEdit" method="POST" style="display:inline;">
			{% csrf_token %}
				<textarea class="autosize" onkeydown="resize(this)" onkeyup="resize(this)" id="sourceEditorArea" style="height: 60%; width: 100%;" name="edit_data">{{code}}</textarea>
				<input type="hidden" name="operation" value="Write"/>
				<input id="syntax" type="hidden" name="syntax" value="c"/>
				<div align="right">
				<input id="submit" type="submit" value="Submit" onclick="check_syntax();return confirm('Are you sure want to submit this code? :)')"/>
				</div>
		</form>
		<h3><b>Result</b></h3>
		<div class="result_box">{{result}}</div>
</body>
</html>
