<!-- sourceView.html-->

<html lang="en">
{% load staticfiles %}
<head>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/T-HUB.png' %}"/>
	<title>::Source Viewer::</title>

	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
	-->
	<script src="{% static 'package/highlight/highlight.js' %}"></script>
	<link rel="stylesheet" href="{% static 'package/highlight/atom-one-dark.css' %}">
		<!--<script src="{% static 'package/highlight/highlight.js' %}"></script>-->

	<script>
		hljs.initHighlightingOnLoad();
		$(document).ready(function()
		{ $('pre viewer').each(function(i, block) { hljs.highlightBlock(block); }); });
	</script>

	<style>
		#content a{
		  text-decoration: none;
		  font-family: 'Open Sans', sans-serif;
		  font-weight: normal;
		  font-size: 1em;
		  color:#FFFFFF;
		  padding:5px 15px;
		  background:#000000;
		  border:0 none;
		  cursor:pointer;
		}

		#invisible[type=submit] {
		  font-family: 'Open Sans', sans-serif;
		  font-weight: normal;
		  font-size: 1em;
		  color:#FFFFFF;
		  padding:5px 15px;
		  background:#000000;
		  border:0 none;
		  cursor:pointer;
		}

		td{
			  border: 1px solid;
			}
	</style>

	<script>
	function view_printDir(op, url, dir, file){
		$('#content').load(url,{
				dirName : dir,
				operation : op,
				folder : file
			});
		}

	function view_sourceEdit(url, file, dir){

		$('#content').load(url,{
			fileName : file,
			directoryName : dir
		});
	}

	</script>
</head>

<body bgcolor="#A4A4A4">

<center>

<br><br><br><br><br><br>
<a href="javascript:view_printDir('ReDirect','/coding/printDir','{{directoryName}}','');">PREV</a>
{% if service_type == 'text' %}
<!--<a href="javascript:view_sourceEdit('/coding/sourceEdit', '{{ fileName }}', '{{ directoryName }}');">EDIT</a>-->
<form action="/coding/sourceEdit.html" method="POST" style="display:inline">
	{% csrf_token %}
	<input type="hidden" name="fileName" value="{{ fileName }}"/>
	<input type="hidden" name="directoryName" value="{{ directoryName }}"/>
	<input id="invisible" type="submit" value="EDIT"/>
</form>

</fotm>
{% endif %}
</center>

{% if service_type == 'text' %}
	<pre><viewer class="C"><font size="4">{{ file_data }}</font></viewer></pre>
{% elif service_type == 'img' %}
<img style="vertical-align: bottom;" src="{{ directoryName|add:fileName }}" width="30%" height="30%">
{% else %}
<font size=3 style="Lucida Blackletter" color="RED"> <pre> {{ file_data }} </pre> </font>
{% endif %}

</body>
</html>
