<!-- sourceView.html-->

<html lang="en">
{% load staticfiles %}
<head>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/T-HUB.png' %}"/>
	<title>::Source Viewer::</title>

	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
	-->
	<script src="{% static 'package/highlight/highlight.js' %}"></script>
	<link rel="stylesheet" href="{% static 'package/highlight/atom-one-dark.css' %}">
		<!--<script src="{% static 'package/highlight/highlight.js' %}"></script>-->

	<script>
		var mode = 0;
		hljs.initHighlightingOnLoad();
		$(document).ready(function(){
			$('pre viewer').each(function(i, block) { hljs.highlightBlock(block); });

			$('#source_edit').css('height',$(document).height()-140);
			$('#source_edit').css('visibility','hidden');
			var str="<iframe src=\"coding/sourceEdit\" style=\"width:"+($(document).width()-$('#left').width()-20)+"px; height:"+($(document).height()-140)+"px;\" frameborder=\"0\"  scrolling = \"no\"></iframe>";
			document.getElementById("source_edit").innerHTML=str;
	});
	</script>

	<style>
		#prev, #edit{
		  text-decoration: none;
		  font-family: 'Open Sans', sans-serif;
		  font-weight: normal;
		  font-size: 1em;
		  color:#FFFFFF;
		  padding:5px 15px;
		  background:#000000;
		  border:0 none;
		  cursor:pointer;
		}

		#invisible[type=submit] {
		  font-family: 'Open Sans', sans-serif;
		  font-weight: normal;
		  font-size: 1em;
		  color:#FFFFFF;
		  padding:5px 15px;
		  background:#000000;
		  border:0 none;
		  cursor:pointer;
		}

		td{
			  border: 1px solid;
		}
	</style>

	<script>
	function view_printDir(op, url, dir, file){
		$('#content').load(url,{
				dirName : dir,
				operation : op,
				folder : file
			});
		}

	function view_sourceEdit(){
		if(mode == 0){
			$('#edit').text('VIEW');
			$('#source_edit').css('visibility','visible');
			$('#source_view').hide();
			mode = 1;
		}
		else{
			$('#edit').text('EDIT');
			$('#source_edit').css('visibility','hidden');
			$('#source_view').show();
			mode = 0;
			var url = '/coding/sourceView';
			$('#middle').load(url,{
					fileName : '{{fileName}}',
					directoryName : '{{directoryName}}'
			});
		}
	}
	</script>
</head>

<body bgcolor="#A4A4A4">
	<center>
	<br>
	<a id="prev" href="javascript:view_printDir('ReDirect','/coding/printDir','{{directoryName}}','');">PREV</a>
	{% if service_type == 'text' %}
	<a id="edit" href="javascript:view_sourceEdit();">EDIT</a>
	{% endif %}
	</center>
<div id="source_view">
{% if service_type == 'text' %}
	<pre><viewer class="C"><font size="4">{{ file_data }}</font></viewer></pre>
{% elif service_type == 'img' %}
<img style="vertical-align: bottom;" src="{{ directoryName|add:fileName }}" width="30%" height="30%">
{% else %}
<font size=3 style="Lucida Blackletter" color="RED"> <pre> {{ file_data }} </pre> </font>
{% endif %}
</div>
<div id="source_edit"></div>
</body>
</html>
