<!-- printDir.html-->

<html lang="en">
{% load staticfiles %}
<head>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/T-HUB.png' %}"/>
	<title>::T - HUB::</title>
</head>

<body bgcolor="#BDE4E3">
	<!-- JAVASCRIPT WILL BE ADDED
	<script>
		alert(document.cookie);
	</script>
	-->

	<!-- Most Top&Left ___ Directory Input form -->
	<center>
		<form action="/coding/printDir.html" method="POST">
			{% csrf_token %}
			<input type="hidden" name="operation" value="GoBack"/>
			<input type="hidden" name="dirName" value="{{ dirNames }}"/>
			<input type="submit" name="GoBack" value="Back Page"/>
		</form>
	<form action="/coding/printDir.html" method="POST">
		{% csrf_token %}
		<input type="text" placeholder="/root" name="dirName" value="{{ dirNames }}">
		<input type="submit" value="SEARCH"/>
	</form>


	<!-- Create Newfile -->
	<form action="/coding/createNewFile.html" method="POST">
		{% csrf_token %}
		<font size=5> create new file:</font>
		<input type="hidden" name="dirName" value="{{ dirNames }}"/>
		<input type="text" placeholder="file name?" name="newFileName">
		<input type="submit" value="New" onclick="return alert(' GOOD LUCK :)');"/>
	</form>
 	</center>

	{% for result in resultOfDir %}
	<table width="60%" align="center" border="5" cellpadding="0" cellspacing="0">
	 <tr>
		 <!-- 1st column ___ type icon -->
		 <td width=5% align="center">
			 <center>
				{% if result.0 == 'd' %}
	      	<img style="vertical-align: bottom;" src="{% static 'ico/folder_ico.png' %}" width="100%" height="100%">
				{% elif result.0 == '-' %}
	      	<img style="display:block;" src="{% static 'ico/file_ico.png' %}" width="100%" height="100%">
				{% elif result.0 == 'l' %}
					<img style="display:block;" src="{% static 'ico/link_ico.png' %}" width="100%" height="100%">
				{% endif %}
			</center>
		 </td>

		<!-- 2nd column ___ FileName -->
		<td width=50% align="center">
			<center>
				<form action="/coding/printDir.html" method="POST">
					{% csrf_token %}
					<input type="hidden" name="operation" value="ReDirect"/>
					<input type="hidden" name="dirName" value="{{ dirNames }}"/>
					<input type="submit" name="folder" value="{{ result }}"/>
				</form>
			</center>
    </td>

		<!-- 3rd column ___ Button Family -->
		<td width=30% align="center">
			<!-- Redirect to sourceView -->
			{% if result.0 == '-' %}
			<form action="/coding/sourceView.html" method="POST">
				{% csrf_token %}
				<input type="hidden" name="selected_file" value="{{ result }}"/>
				<input type="hidden" name="dirNames" value="{{ dirNames }}"/>
				<input type="submit" name="view" value="view"/>
			</form>
			<!-- Redirect to sourceEdit -->
			<form action="/coding/sourceEdit.html" method="POST">
				{% csrf_token %}
				<input type="hidden" name="selected_file" value="{{ result }}"/>
				<input type="hidden" name="dirNames" value="{{ dirNames }}"/>
				<input type="submit" name="edit" value="edit"/>
			</form>
			<!-- Redirect to complie -->
			<form action="/coding/compile_res.html" method="POST">
				{% csrf_token %}
				<input type="hidden" name="compile_file" value="{{ result }}"/>
				<input type="hidden" name="dirNames" value="{{ dirNames }}"/>
				<input type="submit" name="complie" value="complie"/>
			</form>
			{% endif %}
			<!-- Redirect to sourceDel -->
			<form action="/coding/sourceDel.html" method="POST">
				{% csrf_token %}
				<input type="hidden" name="selected_file" value="{{ result }}"/>
				<input type="hidden" name="dirNames" value="{{ dirNames }}"/>
				<input type="submit" name="del" value="del" onclick="return confirm('Are you very very sure you want to delete? :)');"/>
			</form>
		</td>
   </tr>
  </table>
	{% endfor %}

</body>
</html>
