<!-- printDir.html-->

<html lang="en">
{% load staticfiles %}
<head>
	<link rel="stylesheet" href="{% static 'css/coding/directory_list.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/T-HUB.png' %}"/>
	<title>::T - HUB::</title>
	</head>

<body bgcolor="#F2E0F7">
	<!-- JAVASCRIPT WILL BE ADDED
	<script>
		alert(document.cookie);
	</script>
	-->
	<center>
	<form action="/terra" method="POST">
		{% csrf_token %}
		==><input type="submit" value="Go to main page"/><==
	</form>
	</center>
	<br><br>

	<!-- Most Top&Left ___ Directory Input form -->
	<center>
	<!-- Create Newfile -->
	<form action="/coding/createNewFile.html" method="POST">
		{% csrf_token %}
		<input type="hidden" name="dirName" value="{{ dirName }}"/>
		<input type="hidden" name="operation" value="file"/>
		<input type="text" placeholder="file name?" name="fileName">
		<input type="submit" value="create file" onclick="return alert(' GOOD LUCK :)');"/>
	</form>
	<br><br><br>

	<!-- Upload Newfile -->
	<form action="/coding/createNewFile.html" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
  	File: <input type="file" name="file"/>
				 <input type="hidden" name="dirName" value="{{ dirName }}"/>
				 <input type="hidden" name="operation" value="upload"/>
         <input type="submit" value="UPLOAD" />
  </form>

	<!-- Create NewFolder ===> EXTERMERLY DANGEROUS....
	<form action="/coding/createNewFile.html" method="POST">
		{% csrf_token %}
		<input type="hidden" name="dirName" value="{{ dirName }}"/>
		<input type="hidden" name="operation" value="directory"/>
		<input type="text" placeholder="dir name?" name="fileName">
		<input type="submit" value="create dir" onclick="return alert(' GOOD LUCK :)');"/>
	</form>
	<br><br><br> -->

	<!-- Compile All C files on this Directory -->
	<form action="/coding/compile_res.html" method="POST">
		{% csrf_token %}
		<input type="hidden" name="operation" value="ALL"/>
		<input type="hidden" name="dirName" value="{{ dirName }}"/>
		<input type="hidden" name="allName" value="{{ resultOfDir }}"/>
		<!--<input type="text" placeholder="file name?" name="newFileName">-->
		<input type="submit" value="Complie this project as C"/>
	</form>

	<!-- Select project attribute -->
	<form action="/coding/printDir.html" method="POST">
		{% csrf_token %}
	<select name="project_attribute" id="project_attribute" onchange="this.form.submit()">
		<option value="Select">Select</option>
		<option value="ALL">ALL</option>
    <option value="C_Lang">C</option>
    <option value="CPP_LANG">C++</option>
    <option value="Python_Lang">Python</option>
		<input type="hidden" name="dirName" value="{{ dirName }}"/>
		<input type="hidden" name="operation" value="categorization"/>
	</select>
	</form>
	</center>

	<table class="container">
		<thead>
			<tr>
				<th><h1>Type</h1></th>
				<th><h1>Name</h1></th>
				<th><h1>Date</h1></th>
				<th><h1>Function</h1></th>
			</tr>
		</thead>
		<tr>
			<td><img style="width: 70px; height: auto;" src="{% static 'ico/upper_arrow.png' %}"></td>
			<td>
				<form action="/coding/printDir.html" method="POST">
				{% csrf_token %}
				<input type="hidden" name="operation" value="GoBack"/>
				<input type="hidden" name="dirName" value="{{ dirName }}"/>
				<input type="submit" name="GoBack" value="../" class="INVISIBLE_BUTTON"/>
			</form>
		  </td>
			<td>NONE</td>
			<td>GO TO PARENT DIRECTORY</td>
		</tr>
		{% for info in fileInfo %}
		<tbody>
		<tr>
		 <!-- 1st column ___ type icon -->
		 <td class="IMG_TD">
				{% if info.0 == 'd' %}
	      	<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/folder_icon.png' %}">
				{% elif info.0 == 'l' %}
	      	<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/link_ico.png' %}">
				{% else %}
					{% if info.0 == '.py' %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/py_icon.png' %}">
					{% elif info.0 == '.c' %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/c_icon.png' %}">
					{% elif info.0 == '.cpp' %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/cpp_icon.png' %}">
					{% elif info.0 == '.h' %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/header_icon.jpg' %}">
					{% elif info.0 == '.pyc' %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/pyc_icon.png' %}">
					{% elif info.0 == '.sqlite3' %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/sql_icon.png' %}">
					{% elif info.0 == '.png' %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/png_icon.jpg' %}">
					{% elif info.0 == '.jpg' %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/jpg_icon.png' %}">
					{% else %}
					<img style="width: 70px; height: auto;" src="{% static 'ico/100px_icon/file_icon.png' %}">
					{% endif %}
				{% endif %}
		 </td>

		<!-- 2nd column ___ FileName -->
		<td>
				{% if info.0 == 'd' %}
				<form action="/coding/printDir.html" method="POST">
					{% csrf_token %}
					<input type="hidden" name="operation" value="ReDirect"/>
					<input type="hidden" name="dirName" value="{{ dirName }}"/>
					<input type="submit" name="folder" value="{{ info.1 }}" class="INVISIBLE_BUTTON"/>
				</form>
				{% else %}
				<form action="/coding/sourceView.html" method="POST">
					{% csrf_token %}
					<input type="submit" name="fileName" value="{{ info.1 }}" class="INVISIBLE_BUTTON"/>
					<input type="hidden" name="directoryName" value="{{ dirName }}"/>
				</form>
				{% endif %}
    </td>
		<!-- 3rd column ___ DATE -->
		<td>
				NONE
		</td>
		<!-- 4th column ___ Button Family -->
		<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0">
			<!-- Redirect to sourceDel -->
			<form action="/coding/sourceDel.html" method="POST">
				{% csrf_token %}
				<input type="hidden" name="selected_file" value="{{ info.1 }}"/>
				<input type="hidden" name="dirName" value="{{ dirName }}"/>
				<input class="DEL_BUTTON" type="submit" name="del" value="DELETE" onclick="return confirm('Are you very very sure you want to delete? :)');"/>
			</form>
		&nbsp;&nbsp;
		 <!-- Redirect to a single unit complie -->
		 {% if info.0 == '.c' or info.0 == '.py' or info.0 == '.java' or info.0 == '.cpp' %}
		 <form action="/coding/compile_res.html" method="POST">
			 {% csrf_token %}
			 <input type="hidden" name="operation" value="selected"/>
			 <input type="hidden" name="fileName" value="{{ info.1 }}"/>
			 <input type="hidden" name="dirName" value="{{ dirName }}"/>
			 <input class="COMPILE_BUTTON" type="submit" name="compile" value="COMPILE"/>
		 </form>
		 {% endif %}
		</table>
		</td>
   </tr>
 	 </tbody>
	 	{% endfor %}
  </table>


</body>
</html>
