<!-- sourceView.html-->

<html lang="en">
{% load staticfiles %}
<head>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/T-HUB.png' %}"/>
	<title>::Source Viewer::</title>
</head>
<body bgcolor="#A4A4A4">

<center>
<b><font size=15 style="Lucida Blackletter" color="#9FF781">
[Source View]
</font></b>

<br><br><br>

<font size=4 style="Lucida Blackletter" color="#8258FA">
	 <pre> Directory --- {{ viewPath }}</pre>
</font>
</center>

<br><br><br>

<hr color="red" width=100%>
<font size=3 style="Arial">
<pre> {{ file_data }} </pre>
</font>
<hr color="red" width=100%>

</body>
</html>
