<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

	<meta charset="utf-8">
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
   	<meta name="description" content="">
   	<meta name="author" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>:: Core Value::</title>
</head>
<body>
	<center><img src="./corevalue.png"></center>
	<img src="{{ picture }}">
	{% if request.session.name %}
	Welcome {{ request.session.name }}!
	{% endif %}
	{% block content %}
	{% endblock %}
</body>
</html>
