<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	 <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/T-HUB.png' %}"/>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/terra.css' %}"/>
	<script type="text/javascript" src="{% static 'js/loadDiv.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/move.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
	<script type="text/javascript">
			$(window).resize(function (){
				terra_move();
		});
			$(window).ready( function() {
				terra_move();
				{% if request.session.number %}
				terra_menu(1);
				{% endif %}
			});
	</script>
	<title>::T - HUB::</title>
</head>
<body>
	<div id="header" align="right">
		{% if request.session.number is None %}
       		<a href="terra/login">login</a>
		{% else %}
		<a href="terra/out">logout</a>
		{% endif %}
		|
		<a href="javascript:loadDiv('terra/about');">about us</a>
	</div>
	<div id="title">
		<img src="{% static 'favicon/T-HUB.png' %}" height="80px">
		<font>Terra-Coding</font>
	</div>
	<div id="top">
		{% if request.session.number is None %}
		<a href="javascript:alert('login please');">Info</a>
		<a href="javascript:alert('login please');">Coding</a>
		<a href="javascript:alert('login please');">Statistics</a>
		<a href="javascript:alert('login please');">Rank</a>
		{% else %}
		<a id ="info" href="javascript:terra_menu(1);">Info</a>
		<a id ="coding" href="javascript:terra_menu(2);">Coding</a>
		<a id = "statistics" href="javascript:terra_menu(3);">Statistics</a>
		<a id="rank" href="javascript:terra_menu(4);">Rank</a>
		{% endif %}
	</div>
	{% if request.session.number %}
	<div id="selector"></div>
	{% endif %}
	<div id="content">
	{% if request.session.number is None %}
		<img id="banner" src="{% static 'img/banner.jpg' %}">
	{% else %}
  	<iframe src="/info" width="100%" height="100%"/>
	{% endif %}
	</div>
</body>
</html>
