<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	 <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/T-HUB.png' %}"/>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/terra.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
	<script type="text/javascript" src="{% static 'js/loadDiv.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/move.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/intro.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
	<script type="text/javascript">
			$(window).resize(function (){
				terra_move();
		});
			$(window).ready( function() {
				terra_move();
				{% if intro %}
					index_intro();
				{% else %}
					{% if request.session.number %}
					terra_menu(1);
					{% elif request.session.number == 999999999 %}
					admin_menu(1);
					{% endif %}
				{% endif %}
				$('#problem').mouseover( function() {
					 $(this).attr( 'src', "{% static 'img/roll_problem.png' %}" );
				 } )
				 $('#problem').mouseout( function() {
					 $(this).attr( 'src', "{% static 'img/normal_problem.png' %}" );
				 } );
				 $('#folder').mouseover( function() {
 					 $(this).attr( 'src', "{% static 'img/roll_folder.png' %}" );
 				 } )
 				 $('#folder').mouseout( function() {
 					 $(this).attr( 'src', "{% static 'img/normal_folder.png' %}" );
 				 } );
			});
	</script>
	<title>::T - HUB::</title>
</head>
<body>
	<div id="header" align="right">
		{% if request.session.number is None %}
       		<a href="terra/login">login</a>
		{% else %}
		<a href="terra/out">logout</a>
		{% endif %}
		|
		<!--<a href="javascript:loadDiv('terra/about');">about us</a>-->
		<a href="terra/about">about us</a>
	</div>
	<div id="title">
		<a href="terra">
			<img src="{% static 'img/Logo_dark.png' %}">
		</a>
		<font>Terra-Coding</font>
	</div>
	<div id="top">
		{% if request.session.number is None %}
		<a href="javascript:alert('login please');">Info</a>
		<a href="javascript:alert('login please');">Coding</a>
		<a href="javascript:alert('login please');">VDB</a>
		<a href="javascript:alert('login please');">Feedback</a>
		{% elif request.session.number == 999999999 %}
		<a id ="info" href="javascript:admin_menu(1);">Info</a>
		<a id ="problem" href="javascript:admin_menu(2);">Problem</a>
		{% else %}
		<a id ="info" href="javascript:terra_menu(1);">Info</a>
		<a id ="coding" href="javascript:terra_menu(2);">Coding</a>
		<a id = "statistics" href="javascript:terra_menu(3);">VDB</a>
		<a id="rank" href="javascript:terra_menu(4);">Feedback</a>
		{% endif %}
	</div>
	{% if request.session.number %}
	<div id="selector"></div>
	{% endif %}
	<div id="content" style="overflow:auto;">
	{% if request.session.number is None %}
		<img id="banner" src="{% static 'img/banner.jpg' %}" width="100%">
	{% endif %}
	</div>
	<div id="screen"></div>
	<div id="dialog_coding" title="select type">
			What do you want to do?<br>
			<br>
			<div style="text-align: center;">
				<img id="problem" src="{% static 'img/normal_problem.png' %}" width="120px" style="margin-right:10px;">
				<img id="folder" src="{% static 'img/normal_folder.png' %}" width="120px" style="margin-left:10px;">
			</div>
	</div>
</body>
</html>
