<html lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/T-HUB.png' %}"/>
	<title>::Source Editor::</title>
	<style>
		span{
			font-size:20px;
			font-weight:bold;
		}
		textarea.autosize { min-height: 50px; }
		#submit{
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
			font-size: 1em;
			color:#000000;
			padding:5px 15px;
			background:#787878;
			border:0 none;
			cursor:pointer;
			margin-top: 5px;
		}
		.result_box{
	    margin: 10px;
	    padding: 10px;
	    height: auto;
	    overflow: hidden;
	  }
	</style>
	<script language="Javascript" type="text/javascript" src="{% static 'package/edit_area/edit_area_full.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
	<script language="Javascript" type="text/javascript">
		$(document).ready(function() {
			{% if code %}
				$('#sourceEditorArea').val({{code}});
			{% else %}
				$('#sourceEditorArea').val('import java.util.Scanner;\n\npublic class test {\n\tpublic static void main(String args[]) {\n\t\tScanner scan = new Scanner(System.in);\n\n\t}\n}');
			{% endif %}
			editAreaLoader.init({
        	        id: "sourceEditorArea"  // id of the textarea to transform
               	 	,start_highlight: true  // if start with highlight
                	,allow_resize: "both"
                	,allow_toggle: true
                	,word_wrap: true
                	,language: "en"
                	,syntax: "java"
									,font_size: "14"
                	,toolbar: "search, go_to_line, |, undo, redo, |, select_font, |, syntax_selection, |, change_smooth_selection, highlight, reset_highlight, |, help"
		        ,syntax_selection_allow: "java"
			});
		});


		function resize(obj) {
		  obj.style.height = "1px";
		  obj.style.height = (12+obj.scrollHeight)+"px";
		}

		// callback functions
		function my_save(id, content){
			alert("Here is the content of the EditArea '"+ id +"' as received by the save callback function:\n"+content);
		}

		function my_load(id){
			editAreaLoader.setValue(id, "The content is loaded from the load_callback function into EditArea");
		}

		function test_setSelectionRange(id){
			editAreaLoader.setSelectionRange(id, 100, 150);
		}

		function test_getSelectionRange(id){
			var sel =editAreaLoader.getSelectionRange(id);
			alert("start: "+sel["start"]+"\nend: "+sel["end"]);
		}

		function test_setSelectedText(id){
			text= "[REPLACED SELECTION]";
			editAreaLoader.setSelectedText(id, text);
		}

		function test_getSelectedText(id){
			alert(editAreaLoader.getSelectedText(id));
		}

		function toogle_editable(id)
		{
			editAreaLoader.execCommand(id, 'set_editable', !editAreaLoader.execCommand(id, 'is_editable'));
		}

		function editAreaLoaded(id){
			open_file1();
		}

		function open_file1()
		{
			var new_file= {id: "test", text: "{% autoescape off %}{% filter escapejs %}{{ code }}{% endfilter %}{% endautoescape %}", syntax: 'c'};
			editAreaLoader.openFile('sourceEditorArea', new_file);
		}

		function close_file1()
		{
			editAreaLoader.closeFile('sourceEditorArea', "test");
		}
	</script>
</head>
<!--_______________ END OF HEAD _______________-->

<body>
		<form action="/feedback/feedbackEdit" method="POST" style="display:inline;">
			{% csrf_token %}
				<textarea class="autosize" onkeydown="resize(this)" onkeyup="resize(this)" id="sourceEditorArea" style="height: 400px; width: 100%;" name="edit_data">{{code}}</textarea>
				<input type="hidden" name="operation" value="Write"/>
				<div align="right">
				{% if success %}
				{% else %}
				<input id="submit" type="submit" value="Submit" onclick="return confirm('Are you sure want to submit this code? :)')"/>
				{% endif %}
				</div>
		</form>
		<h3><b>Result</b></h3>
		<div class="result_box"><pre>{{result}}</pre>
		{% if issue %}
		<table>
			<tr>
				<td><span width="200px">Severity</td>
				<td><span width="200px">Type</td>
				<td><span>Message</td>
			</tr>
		{% for i in issue %}
			<tr>
				<td width="200px">{{i.0}}</td>
                                <td width="200px">{{i.1}}</td>
                                <td>{{i.2}}</td>
			</tr>
		{% endfor %}
		</table><br>
		<br>
		{% endif %}
		{% if etc %}
		Your Rank: <span>{{etc.13}}</span>&nbsp;(need to fix {{etc.14}} of code)<br>
		<br>
		<table>
			<tr>
				<td width="200px"><span>{{etc.0}}</span>&nbsp;lines(pure)</td>
				<td width="120px"><span>{{etc.1}}</span>&nbsp;files</td>
				<td width="120px"></td>
				<td width="120px"><span>{{etc.4}}</span>&nbsp;functions</td>
				<td width="120px"></td>
				<td width="120px"></td>
				<td width="120px"></td>
			</tr>
			<tr>
				<td></td>
                                <td>{{etc.2}}&nbsp;directories</td>
                                <td>{{etc.3}}&nbsp;lines</td>
                                <td>{{etc.5}}&nbsp;classes</td>
                                <td>{{etc.6}}&nbsp;statements</td>
                                <td>{{etc.7}}&nbsp;accessors</td>
                                <td></td>
			</tr>
		</table><br>
		<br>
		<div style="float:left;">
			<img src="{{etc.12}}" style="float:left;">
			<table style="float:left;margin-top:40px;margin-left:10px;">
				<tr>
					<td width="100px"><span>{{etc.8}}&nbsp;complexity</span>&nbsp;</td>
	                                <td width="100px"></td>
        	                        <td width="100px"></td>

				</tr>
				<tr>
				        <td>{{etc.9}}&nbsp;/function</td>
                               	 	<td>{{etc.10}}&nbsp;/class</td>
                                	<td>{{etc.11}}&nbsp;/file</td>
				</tr>
			</table>
		</div>
		{% endif %}
		</div>
</body>
</html>
