<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
      <script>
			$(window).ready( function() {
        $("tr").click(function(event) {
          if(select_el!=null){
              select_el.css('background','#566788');
          }
          select_no = event.target.parentElement.innerHTML.split('<td>')[1].split('</td>')[0];
          $(event.target).parent().css('background','#434d61');
          select_el = $(event.target).parent();
        });
        $("tr").dblclick(function(event) {
          if(select_el!=null){
              select_el.css('background','#566788');
          }
          select_no = event.target.parentElement.innerHTML.split('<td>')[1].split('</td>')[0];
          $(event.target).parent().css('background','#434d61');
          select_el = $(event.target).parent();

          $(dialog_detail).dialog("open");
          var text = $(select_el).html().replace(/<td>/gi,'').split('</td>');
          $(dialog_detail).html('<b>'+text[1]+'</b><br><br>'+text[2]+'<br>'+text[3]+'<br>'+text[4]);
        });
      });
      </script>
      <style>
      table{
          width: 100%;
          border: 2px solid #ffffff;
          border-collapse: collapse;
          background: #566788;
      }
      th, td{
        border: 2px solid #ffffff;
        padding: 10px;
      }
      th{
        background: #323c50;
        text-align: center;
        color: #ffffff;
      }
      td{
        color: #efefef;
      }
      </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th width="50px">Number</th>
          <th width="300px">Title</th>
          <th>Contents</th>
          <th style="display:none;"></th>
          <th style="display:none;"></th>
        </tr>
      </thead>
      <tbody>
  {% for l in list %}
  <tr>
    <td>{{l.0}}</td>
    <td>{{l.1}}</td>
    <td>{{l.2}}</td>
    <td style="display:none;">{{l.3}}</td>
    <td style="display:none;">{{l.4}}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </body>
</html>
